<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>Smart Driver</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/driver_app/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/driver_app/assets/css/style.css" rel="stylesheet">
    <link href="/static/driver_app/assets/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <script src="/static/driver_app/assets/js/modernizr.js"></script> -->

    <link href="/static/driver_app/assets/d3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/static/driver_app/assets/d3/nv.d3.js"></script>
  </head>

  <body>

<!-- *****************************************************************************************************************
  HEADERWRAP
 ***************************************************************************************************************** -->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">Smart Driver</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="logout"><a href="{% url 'driver_app:logout' %}">Logout</a></li>
            {% else %}
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 MAIN BODY
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
 <input id="driver_id" type="hidden" value={{user.driver.id}}>
          <h2>Welcome <span style="color:white;">{{ user.driver.get_name }}</span>!</h2>
				</div>

<!-- *****************************************************************************************************************
WEEKDAY GRAPH
************************************************************************************************************** -->
      <!-- <form class="graph-login" method="POST" action="#"> -->
          <!-- <div class="graph-log-in-with-email"> -->
              <!-- <div class="graph-white-background"> -->
              <!-- <div><h1>TEST</h1></div> -->
                <div id="chart1">
                    <svg></svg>
                </div>

                <script>
                    var values = {{weekday_rate_avgs}}
                    var weekday_avgs = [{key:"Total Earned per Month", values:[]}];
                    var max_val = Math.max(...values)
                    weekday_avgs[0]["values"].push(
                          {"label": "Monday", "value": values[0]},
                          {"label": "Tuesday", "value": values[1]},
                          {"label": "Wednesday", "value": values[2]},
                          {"label": "Thursday", "value": values[3]},
                          {"label": "Friday", "value": values[4]},
                          {"label": "Saturday", "value": values[5]},
                          {"label": "Sunday", "value": values[6]}
                      );
                      console.log(weekday_avgs)

                    nv.addGraph(function() {
                        var chart = nv.models.discreteBarChart()
                            .x(function(d) { return d.label })
                            .y(function(d) { return d.value })
                            .staggerLabels(true)
                            //.staggerLabels(historicalBarChart[0].values.length > 8)
                            .showValues(true)
                            .duration(250)
                            .forceY([0, max_val + 3 - (max_val % 3)])
                            chart.yAxis
                              .axisLabel("Avg Hourly Rate in Dollars")
                            chart.xAxis
                              .axisLabel("Day")
                            ;
                        d3.select('#chart1 svg')
                            .datum(weekday_avgs)
                            .call(chart);
                        nv.utils.windowResize(chart.update);
                        return chart;
                    });

                    d3.json("/api/month_statements",
                      function(error, data) {
                          for(var i in data) {
                              monthly_totals[0]["values"].push({"label":data[i]["month_name"],"value":data[i]["total_earned"]});
                              if (parseInt(data[i]["total_earned"]) > max) {
                                  max = parseInt(data[i]["total_earned"])
                              }
                          }

                      }
                  );
                </script>

              <!-- </div>
          </div>
      </form> -->


  <!-- *****************************************************************************************************************
  ANNUAL GRAPH
  ************************************************************************************************************** -->
        <!-- <form class="graph-login" method="POST" action="#"> -->
            <!-- <div class="graph-log-in-with-email"> -->
                <!-- <div class="graph-white-background"> -->
                  <div id="chart2">
                      <svg></svg>
                  </div>

                  <script>
                      var monthly_totals = [{key:"Total Earned per Month", values:[]}];
                      var max = 0
                      d3.json("/api/month_statements",
                        function(error, data) {
                            for(var i in data) {
                                monthly_totals[0]["values"].push({"label":data[i]["month_name"],"value":data[i]["total_earned"]});
                                if (parseInt(data[i]["total_earned"]) > max) {
                                    max = parseInt(data[i]["total_earned"])
                                }
                            }
                            nv.addGraph(function() {
                                var chart = nv.models.discreteBarChart()
                                    .x(function(d) { return d.label })
                                    .y(function(d) { return d.value })
                                    .staggerLabels(true)
                                    //.staggerLabels(historicalBarChart[0].values.length > 8)
                                    .showValues(true)
                                    .duration(250)
                                    .forceY([0, max + 500 - (max % 500)])
                                    chart.yAxis
                                      .axisLabel("Monthly Income In Dollars")
                                    chart.xAxis
                                      .axisLabel("Month")
                                    ;
                                d3.select('#chart2 svg')
                                    .datum(monthly_totals)
                                    .call(chart);
                                nv.utils.windowResize(chart.update);
                                return chart;
                            });
                        }
                    );
                  </script>

                <!-- </div>
            </div>
        </form> -->


  <!-- *****************************************************************************************************************
  DYNAMIC USER TABLE
  ************************************************************************************************************** -->
        <form class="form-login" method="post" action="#">
            <div class="form-log-in-with-email">
                <div class="form-white-background">
                    </div>

                    <h1 style="color:black;">DYNAMIC USER TABLE GOES HERE</h1>
                    <br>

                    <label>Data:
                      <select id="data_type">

                        <option selected=0 value="daily">Daily</option>
                        <option value="weekly">Weekly</option>

                      </select>
                     </label>

                    <table id="table_id" class="display">



                      <thead>
                          <tr>

                          </tr>
                      </thead>


                      <!-- <tbody>
                          {% for statement in statements %}
                          <tr>
                              <td>{{ statement.date }}</td>
                              <td>{{ statement.get_weekday_display }}</td>
                              <td>{{ statement.time_worked }}</td>
                              <td>{{ statement.total_rides }}</td>
                              <td>${{ statement.total_earned }}</td>
                              <td>${{ statement.rate_per_ride }}</td>
                              <td>${{ statement.rate_per_hour }}</td>
                          </tr>
                          {% endfor %}
                      </tbody> -->
                  </table>

                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="col-lg-8 col-lg-offset-2 himg">
				        <img src="assets/img/browser.png" class="img-responsive">  -->
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

  <!-- *****************************************************************************************************************
	 POTENTIAL PIE CHART
	 ***************************************************************************************************************** -->

   <svg id="test2" class="mypiechart"></svg>
   <br>
   <br>




    <script>
        var values = {{weekday_rate_avgs}}
        var testdata = [
            {key: "Monday", y: values[0]},
            {key: "Tuesday", y: values[1]},
            {key: "Wednesday", y: values[2]},
            {key: "Thursday", y: values[3]},
            {key: "Friday", y: values[4]},
            {key: "Saturday", y: values[5]},
            {key: "Sunday", y: values[6]},
        ];
        var height = 550;
        var width = 550;
        var chart1;
        nv.addGraph(function() {
            var chart1 = nv.models.pieChart()
                .x(function(d) { return d.key })
                .y(function(d) { return d.y })
                .donut(true)
                .width(width)
                .height(height)
                .padAngle(.08)
                .cornerRadius(5)
                .id('donut1'); // allow custom CSS for this one svg
            chart1.title("100%");
            chart1.pie.donutLabelsOutside(true).donut(true);
            d3.select("#test1")
                .datum(testdata)
                .transition().duration(1200)
                .call(chart1);
            //nv.utils.windowResize(chart1.update);
            return chart1;
        });
        var chart2;
        nv.addGraph(function() {
            var chart2 = nv.models.pieChart()
                .x(function(d) { return d.key })
                .y(function(d) { return d.y })
                //.labelThreshold(.08)
                //.showLabels(false)
                .color(d3.scale.category20().range().slice(10))
                .width(width)
                .height(height)
                .donut(true)
                .id('donut2')
                .titleOffset(-30)
                .title("Daily");
            // MAKES IT HALF CIRCLE
            chart2.pie
                .startAngle(function(d) { return d.startAngle/2 -Math.PI/2 })
                .endAngle(function(d) { return d.endAngle/2 -Math.PI/2 });
            d3.select("#test2")
                //.datum(historicalBarChart)
                .datum(testdata)
                .transition().duration(1200)
                .call(chart2);
            return chart2;
        });
    </script>

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Smart Driver is a dynamic app that helps Uber drivers maximize effiency via cutting-edge data analysis.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Project GitHub</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a target="_blank" href="https://github.com/Smart-Driver/smart-driver-app"><i class="fa fa-github"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Basement Paradise</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				The Iron Yard<br/>
		 				Durham, NC<br/>
		 			</p>
		 		</div>

            </div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/driver_app/assets/js/jquery.dataTables.js"></script>
    <script src="/static/driver_app/assets/js/bootstrap.min.js"></script>
	  <script src="/static/driver_app/assets/js/retina-1.1.0.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.hoverdir.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.hoverex.min.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="/static/driver_app/assets/js/jquery.isotope.min.js"></script>
  	<script src="/static/driver_app/assets/js/custom.js"></script>
    <script src="/static/driver_app/data_table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/static/driver_app/assets/d3/nv.d3.js"></script>

  </body>
</html>
