<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>Smart Driver</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/driver_app/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/driver_app/assets/css/style.css" rel="stylesheet">
    <link href="/static/driver_app/assets/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <script src="/static/driver_app/assets/js/modernizr.js"></script> -->

    <link href="/static/driver_app/assets/d3/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/static/driver_app/assets/d3/nv.d3.js"></script>
  </head>

  <body>

<!-- *****************************************************************************************************************
  HEADERWRAP
 ***************************************************************************************************************** -->

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">Smart Driver</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="home.html">HOME</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 MAIN BODY
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
          <h2>Welcome <span style="color:white;">Smart Driver</span>!</h2>
				</div>

  <!-- *****************************************************************************************************************
  ANNUAL GRAPH
  ************************************************************************************************************** -->
        <!-- <form class="graph-login" method="POST" action="#"> -->
            <!-- <div class="graph-log-in-with-email"> -->
                <!-- <div class="graph-white-background"> -->
                  <div id="chart1">
                      <svg></svg>
                  </div>

                  <script>
                      historicalBarChart = [
                          {
                              key: "Cumulative Return",
                              values: [
                                  {
                                      "label" : "Jan" ,
                                      "value" : 1500
                                  } ,
                                  {
                                      "label" : "Feb" ,
                                      "value" : 1300
                                  } ,
                                  {
                                      "label" : "March" ,
                                      "value" : 1000
                                  } ,
                                  {
                                      "label" : "April" ,
                                      "value" : 2300
                                  } ,
                                  {
                                      "label" : "May" ,
                                      "value" : 800
                                  } ,
                                  {
                                      "label" : "June" ,
                                      "value" : 950
                                  } ,
                                  {
                                      "label" : "July" ,
                                      "value" : 1200
                                  } ,
                                  {
                                      "label" : "August" ,
                                      "value" : 1400
                                  },
                                  {
                                      "label" : "Sept" ,
                                      "value" : 1600
                                  },
                                  {
                                      "label" : "Oct" ,
                                      "value" : 1000
                                  },
                                  {
                                      "label" : "Nov" ,
                                      "value" : 2000
                                  },
                                  {
                                      "label" : "Dec" ,
                                      "value" : 1200
                                  }
                              ]
                          }
                      ];
                      nv.addGraph(function() {
                          var chart = nv.models.discreteBarChart()
                              .x(function(d) { return d.label })
                              .y(function(d) { return d.value })
                              .staggerLabels(true)
                              //.staggerLabels(historicalBarChart[0].values.length > 8)
                              .showValues(true)
                              .duration(250)
                              ;
                          d3.select('#chart1 svg')
                              .datum(historicalBarChart)
                              .call(chart);
                          nv.utils.windowResize(chart.update);
                          return chart;
                      });
                  </script>

                <!-- </div>
            </div>
        </form> -->

  <!-- *****************************************************************************************************************
  DYNAMIC USER TABLE
  ************************************************************************************************************** -->
        <form class="form-login" method="post" action="#">
            <div class="form-log-in-with-email">
                <div class="form-white-background">
                    </div>

                    <h1 style="color:black;">DYNAMIC USER TABLE GOES HERE</h1>
                    <br>

                    <table id="table_id" class="display">
                      <thead>
                          <tr>
                              <th>Date</th>
                              <th>Weekday</th>
                              <th>Time Worked</th>
                              <th>Total Rides</th>
                              <th>Total Earned</th>
                              <th>Rate/ride</th>
                              <th>Rate/hr</th>

                          </tr>
                      </thead>
                      <tbody>
                          {% for statement in statements %}
                          <tr>
                              <td>{{ statement.date }}</td>
                              <td>{{ statement.get_weekday_display }}</td>
                              <td>{{ statement.time_worked }}</td>
                              <td>{{ statement.total_rides }}</td>
                              <td>{{ statement.total_earned }}</td>
                              <td>{{ statement.rate_per_ride }}</td>
                              <td>{{ statement.rate_per_hour }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="col-lg-8 col-lg-offset-2 himg">
				        <img src="assets/img/browser.png" class="img-responsive">  -->
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Smart Driver is a dynamic app that helps Uber drivers maximize effiency via cutting-edge data analysis.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Project GitHub</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a target="_blank" href="https://github.com/Smart-Driver/smart-driver-app"><i class="fa fa-github"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Basement Paradise</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				The Iron Yard<br/>
		 				Durham, NC<br/>
		 			</p>
		 		</div>

            </div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="/static/driver_app/assets/js/bootstrap.min.js"></script>
	  <script src="/static/driver_app/assets/js/retina-1.1.0.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.hoverdir.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.hoverex.min.js"></script>
	  <script src="/static/driver_app/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="/static/driver_app/assets/js/jquery.isotope.min.js"></script>
  	<script src="/static/driver_app/assets/js/custom.js"></script>
    <script src="/static/driver_app/data_table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/static/driver_app/assets/d3/nv.d3.js"></script>



    <script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';

		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());

		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(),
			columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}

			function setColumns() {
				var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

				$container.find('.portfolio-item').each(function() {
					$(this).css( {
					width : itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
			$container.isotope('reLayout');
		}

		$container.imagesLoaded(function () {
			setPortfolio();
		});

		$(window).on('resize', function () {
		setPortfolio();
	});
})(jQuery);
</script>
  </body>
</html>
